/**BASE STYLES**/

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #2b2b2b;
}

#about, #experience, #contact {
  height: 600px;
}

/*GRID*/

.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
}

.fourth-width {
  width: 300px;
  float: left;
}

/**HEADER**/

header {
  height: 800px;
  background-image: url('../img/rawpixel-computer-background-unsplash.jpg');
  background-size: cover;

}

header h1 {
  padding: 65px 0 65px 25px;
  font-family: 'Roboto' sans-serif;
  font-size: 50px;
  color: #dddddd;
  text-shadow: 2px 2px black;
}

nav {
  float: right;
  padding: 75px 25px;

}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  color: darkgrey;
  padding-left: 20px;
}

header h2 {
  width: 500px;
  clear: left;
  font-family: 'Montserrat' sans-serif;
  font-size: 50px;
  line-height: normal;
  color: darkgrey;
  padding: 0 0 20px 25px;
}

@keyframes hi {
  from (background-color: grey;)
  to (bacground-color: black;)
}

header h2 span {
  color: white;
  animation-name: hi;
  animation-duration: 5s;
}

/**ABOUT SECTION**/

.headshot {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  border: 5px double #dddddd;
}

#about .full-width {
  padding: 50px 0;
}

#about .third-width1, .third-width3 {
  padding: 20px;
  float: left;
  width: 400px;

}

#about .third-width2 {
  float: left;
  padding: none;
}

#about h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  padding: 20px;
  margin-left: 50px;
}

#about p {
  font-family: 'Montserrat';
  font-size: 15px;
  line-height: 20px;
  text-align:center;
}

/***EXPERIENCE SECTION**/

#experience {
  background-color: #dddddd;
  padding: 30px 0 30px 0;
  margin: 50px 0 50px 0;
}

#experience .full-width {
  margin-top: 50px;
  clear: both;
}

/**CONTACT SECTION**/

.woman-computer {
  height: 300px;
  width: 500px;
}
